<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Dashboard Grid</title>

<link rel="stylesheet" href="../styles/base.css">
<link rel="stylesheet" href="../styles/grid.css">
<link rel="stylesheet" href="../styles/responsive.css">

</head>

<body>

<header class="header">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGJpdx2Gpj2aiUVwa9ayNiZ7vtaU7w_xsaKw&s" alt="Logo">
<h2>Sales data</h2>
</header>

<h1>Dashboard</h1>

<div class="dashboard">

<div class="card">Card number 1</div>
<div class="card">Card number 2</div>
<div class="card">Card number 3</div>
<div class="card">Card number 4</div>

</div>

</body>
</html>