<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Grid Gallery</title>

<link rel="stylesheet" href="../styles/base.css">
<link rel="stylesheet" href="../styles/grid.css">
<link rel="stylesheet" href="../styles/responsive.css">

</head>

<body>

<h1>Photo Gallery</h1>

<div class="gallery">

<img src="https://images.unsplash.com/photo-1591779051696-1c3fa1469a79?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
<img src="https://media.istockphoto.com/id/683388358/photo/nature.webp?a=1&b=1&s=612x612&w=0&k=20&c=jENADDH1FgzLrEsp28uctLgkrazUUrqKw7hOavnHyAE=">
<img src="https://media.istockphoto.com/id/2172543804/photo/forest-trees-nature-green-wood-sunlight-backgrounds.webp?a=1&b=1&s=612x612&w=0&k=20&c=OhNHJg81I5a2N4I_c7Axrmpo3XYp6O6LcjbjmBjsZQM=">
<img src="https://media.istockphoto.com/id/1085067526/photo/nature.webp?a=1&b=1&s=612x612&w=0&k=20&c=Ib2Yfz6Du9cAW9r1MZRoZyfWJJn-pAtevsazfGH3Lzs=">
<img src="https://images.unsplash.com/photo-1723571643364-6390c3883c32?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fHw%3D">
<img src="https://images.unsplash.com/photo-1715959455214-9ed6df550c1f?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fHw%3D">

</div>

</body>

</html>