<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Portfolio</title>

<link rel="stylesheet" href="../styles/base.css">
<link rel="stylesheet" href="../styles/grid.css">
<link rel="stylesheet" href="../styles/responsive.css">

</head>

<body>

<h1>My Portfolio</h1>

<div class="portfolio">

<div class="project">
 <p>Project 1</p>   
<img src="https://images.unsplash.com/photo-1526779259212-939e64788e3c?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZnJlZSUyMGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D" alt="Project 1">

</div>

<div class="project">
    <p>Project 2</p>
<img src="https://media.istockphoto.com/id/94286394/photo/person-watching-sunset-at-the-lake.webp?a=1&b=1&s=612x612&w=0&k=20&c=h0eet5LnuM8CbeyMxxy8lZWeF2yRZUx4vFCYi1V7s5o=" alt="Project 2">

</div>

<div class="project">
    <p>Project 3</p>
<img src="https://media.istockphoto.com/id/532789263/photo/late-evening.webp?a=1&b=1&s=612x612&w=0&k=20&c=C-H644TDNwKKgvANPWsNN25EQjyPoULbYZxO_4RrCNw=" alt="Project 3">

</div>

<div class="project">
    <p>Project 4</p>
<img src="https://media.istockphoto.com/id/134062452/photo/lake.webp?a=1&b=1&s=612x612&w=0&k=20&c=m4KDKXHoOrKlF_pQsjEF7qYZ6uTdpDwNE8bERw0QwO0=" alt="Project 4">

</div>

</div>

</body>
</html>